.eventeditor-participants {
	padding: 10pt 5pt 10pt 5pt;

	margin-top: 5px;
	background-color: #fff;
	text-align: left;

	min-height: 125px;

	width: 100%;
	word-wrap: break-word;
	box-sizing: border-box;

	border-radius: 0 0 2px 2px;

	box-shadow: 1px 2px 3px #BDBDBD;
}

.eventeditor-participants.disabled {
	background-color: rgba(255, 255, 255, 0.4);
}

.eventeditor-participants__mainenabler {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	padding: 0px 5px 10px 0px;
	border-bottom: 1px solid #E0E0E0;
}

.eventeditor-participants__header {
	padding-bottom: 10px;
}

.eventeditor-participants__header > i,
.eventeditor-participants__header > span {
	vertical-align: middle;
}
.eventeditor-participants__header > span {
	font-size: 1.3em;
}

.eventeditor-participants__list {
	padding: 15px 20px;

	/* Temporary values until we have a popup to show the rest */
	height: 145px;
    overflow: auto;
}

.eventeditor-participant {
	padding-top: 4px;
	padding-bottom: 4px;

	display: flex;
    justify-content: flex-start;
    align-items: center;
}

.eventeditor-participant__avatar {
	background-color: #E0E0E0;
	width: 28px;
	height: 28px;
	border-radius: 14px;

	display: inline-block;
	flex-shrink: 0;
}

.eventeditor-participant__default__avatar {
	color: #757575;
	width: 100%;
	height: 100%;

	display: flex;
    align-items: center;
    justify-content: center;
}
.event-participant__default__avatar > i {
	font-size: 16px;
}

.eventeditor-participant__name {
	font-size: 1.2em;

	padding-left: 10px;
	display: inline-block;

	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Desktop */
@media only screen and (min-width: 768px) {

	.eventeditor-participants {
		width: 300px;
	}

	.eventeditor-participants__header > p {
		font-size: 1em;
	}

	.eventeditor-participants__header > span {
		font-size: 1.1em;
	}

	.eventeditor-participant__name {
		font-size: 1em;

		padding-left: 10px;
		display: inline-block;
		vertical-align: middle;
	}
}