.eventeditor-header__form {
	width: 100%;
}

.eventeditor-header {
	width: 100%;
	min-height: 200px;
	max-height: 250px;

	background-color: #000;
	position: relative;
}

.eventeditor-header__gradient {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	display: flex;
	justify-content: center;

	background: linear-gradient(
	    to bottom,
	    rgba(0, 0, 0, 0) 20%,
	    rgba(0, 0, 0, 0) 30%,
	    rgba(0, 0, 0, 1) 100%
	);
}

.eventeditor-header__content {
	width: 1024px;
	align-items: stretch;

	position: relative;
}

.eventeditor-header__title {
	position: absolute;
	text-align: left;

	bottom: 15px;
	left: 15px;
	right: 15px;
}

.eventeditor-header__titleField {
	background: none;
	margin: 0;
	border: none;
	width: 100%;

	font-size: 2.2em;
	font-weight: 700;
	color: #fff;
}

.eventeditor-header__imageField {
	background: #fff;
	margin: 0;
	border: none;
	border-radius: 0px 0px 2px 2px;
	width: 100%;

	text-align: center;
	font-size: 1.5em;
	font-weight: 700;
	color: #424242;

	box-shadow: 1px 2px 3px #757575;
}

.eventeditor-header__saveButton {
	margin-bottom: 10px;
}

/* Desktop */
@media only screen and (min-width: 1024px) {

	.eventeditor-header {
		min-height: 250px;
		max-height: 300px;
	}

	.eventeditor-header__titleField {
		font-size: 2.5em;
	}

	.eventeditor-header__gradient {
		background: linear-gradient(
		    to bottom,
		    rgba(64, 64, 64, 0) 40%,
		    rgba(0, 0, 0, 0) 60%,
		    rgba(0, 0, 0, 1) 100%
		);
	}

	.eventeditor-header__title {
		position: absolute;

		bottom: 15px;
		left: 15px;
	}
}