.eventeditor-description {
	padding: 10pt 5pt 10pt 5pt;

	margin-top: 5px;
	background-color: #fff;
	text-align: left;

	min-height: 125px;
	max-height: 400px;

	width: 100%;
	word-wrap: break-word;
	box-sizing: border-box;

	border-radius: 0 0 2px 2px;

	box-shadow: 1px 2px 3px #BDBDBD;
}

.eventeditor-description.disabled {
	background-color: rgba(255, 255, 255, 0.4);
}

.eventeditor-description__mainenabler {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	padding: 0px 5px 10px 0px;
	border-bottom: 1px solid #E0E0E0;
}

.eventeditor-description__header {
	padding-bottom: 10px;
}

.eventeditor-description > .event-description__description {
	padding-left: 15px;
	padding-right: 10px;
	padding-top: 5px;
	font-size: 1em;

	width: 100%;
	min-height: 130px;
	max-height: 250px;
	resize: vertical;
	box-sizing: border-box;

	border: none;
}

.eventeditor-description__header > i,
.eventeditor-description__header > span {
	vertical-align: middle;
}

.eventeditor-description__header > span {
	font-weight: 400;
	font-size: 1.3em;
}

/* Desktop */
@media only screen and (min-width: 768px) {

	.eventeditor-description > .event-description__description {
		font-size: 1em;
	}

	.eventeditor-description__header > span {
		font-size: 1.1em;
	}
}