.polleditor-dialog {
    width: 100% !important;
    max-width: none !important;
}

.polleditor-poll {
    padding: 10px;
    margin: 10px 0px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    border-radius: 4px;
    background-color: #F5F5F5;
}

.polleditor-poll__question {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 10px;
    border-bottom: 2px solid #E0E0E0;
}

.polleditor-poll__question > i {
    margin: 0px;
    margin-right: 5px;
    color: #BDBDBD;
    justify-content: flex-start;
}

.polleditor-poll__questionfield,
.polleditor-poll__choicefield {
    border: none;
    background: none;

    width: 100%;
    margin: 0px;
    font-size: 1.1em;

    border-radius: 4px;
    padding: 5px;
}

.polleditor-poll__choicefield {
    font-size: 1em;

    max-width: 100px;
    background: #E0E0E0;
}

.polleditor-poll__results {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
}

.polleditor-pollchoices{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    margin-top: 15px;
}

.polleditor-poll__choices {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;

    padding-top: 10px;
}

.polleditor-poll__choice {
    display: flex;
    justify-content: center;
    align-items: space-around;
    flex-direction: row;

    margin: 5px;
}

/* Desktop */
@media only screen and (min-width: 768px) {
    .polleditor-dialog {
        width: 75% !important;
    }

    .polleditor-pollchoices{
        align-items: flex-start;
    }

    .polleditor-poll__choices {
        flex-direction: row;
        justify-content: flex-start;
    }
}