.event-participants {
	padding: 10pt 5pt 10pt 5pt;

	margin-top: 5px;
	background-color: #fff;
	text-align: left;

	min-height: 125px;
	max-height: 250px;

	width: 100%;
	word-wrap: break-word;
	box-sizing: border-box;

	border-radius: 0 0 2px 2px;

	box-shadow: 1px 2px 3px #BDBDBD;
}

.event-participants__header {
	padding-bottom: 10px;
	border-bottom: 1px solid #E0E0E0;
}

.event-participants__header > i,
.event-participants__header > span {
	vertical-align: middle;
}

.event-participants > span {
	font-weight: 400;
	font-size: 1.1em;
}

.event-participants__list {
	padding: 15px 20px;

	/* Temporary values until we have a popup to show the rest */
	height: 145px;
    overflow: auto;
}

.event-participant {
	padding-top: 4px;
	padding-bottom: 4px;
}

.event-participant__avatar {
	background-color: #E0E0E0;
	width: 28px;
	height: 28px;
	border-radius: 14px;

	display: inline-block;
	vertical-align: middle;
}

.event-participant__default__avatar {
	color: #757575;

	margin-top: 1px;
    margin-left: 1px;
}

.event-participant__name {
	font-size: 1em;

	padding-left: 10px;
	display: inline-block;
	vertical-align: middle;
}

/* Desktop */
@media only screen and (min-width: 768px) {

	.event-participants__header > p {
		font-size: 1em;
	}

	.event-participants__header > span {
		font-size: 1.1em;
	}
}