.event-header {
	width: 100%;
	min-height: 200px;
	max-height: 250px;

	background-color: #000;
	position: relative;
}

.event-header__gradient {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	display: flex;
	justify-content: center;

	background: linear-gradient(
	    to bottom,
	    rgba(64, 64, 64, 1) 0%,
	    rgba(64, 64, 64, 0) 0%,
	    rgba(0, 0, 0, 1) 100%
	);
}

.event-header__content {
	width: 1024px;
	align-items: stretch;

	position: relative;
}

.event-header__title {
	position: absolute;
	text-align: left;

	bottom: 35pt;
	left: 15pt;
}

.event-header__title h1 {
	margin: 0;

	font-size: 2.5em;
	color: #fff;
}

.event-header__info {
	position: absolute;

	bottom: 10pt;
	left: 15pt;
}

.event-header__info i {
	vertical-align: middle;
}

.event-header__info span {
	vertical-align: middle;

	font-size: 1.2em;
	color: #fff;
}

/* Desktop */
@media only screen and (min-width: 1024px) {

	.event-header {
		min-height: 250px;
		max-height: 300px;
	}

	.event-header__title h1 {
		font-size: 2.5em;
	}

	.event-header__info span {
		font-size: 1em;
	}


	.event-header__gradient {
		background: linear-gradient(
		    to bottom,
		    rgba(64, 64, 64, 1) 0%,
		    rgba(64, 64, 64, 0) 0%,
		    rgba(64, 64, 64, 0) 65%,
		    rgba(0, 0, 0, 1) 100%
		);
	}

	.event-header__title {
		position: absolute;

		bottom: 15pt;
		left: 15pt;
	}

	.event-header__info {
		position: absolute;

		bottom: 10pt;
		right: 15pt;
		left: auto;
	}
}