.event-header {
	width: 100%;
	min-height: 200px;
	max-height: 250px;

	display: flex;
	justify-content: center;

	background-color: #000;
}

.event-header__content {
	width: 1024px;
	align-items: stretch;

	position: relative;
}

.event-header__title {
	position: absolute;

	bottom: 15pt;
	left: 15pt;
}

.event-header__title h1 {
	margin: 0;

	color: #fff;
}

.event-header__info {
	position: absolute;

	bottom: 10pt;
	right: 15pt;
}

.event-header__info i {
	vertical-align: middle;
}

.event-header__info span {
	vertical-align: middle;

	color: #fff;
}