.event-details {
	padding: 10pt 5pt 10pt 5pt;

	margin-top: 5px;
	background-color: #fff;
	text-align: left;

	min-height: 50px;
	max-height: 250px;

	width: 100%;
	word-wrap: break-word;
	box-sizing: border-box;

	border-radius: 0 0 2px 2px;

	box-shadow: 1px 2px 3px #BDBDBD;
}

.event-details div{
	padding: 1px 0 1px 0;
}

.event-details__item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.event-details__item > i {
	flex-shrink: 0;
}

.event-details__item-text {
	margin-left: 5px;
	font-size: 1.3em;

	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-details__map {
	width: 100%;
	height: 100px;

	margin-top: 10px;
	background-color: #000;
}

/* Desktop */
@media only screen and (min-width: 768px) {
	.event-details__item-text {
		font-size: 1.1em;
	}
}