.event-description {
	padding: 10pt 5pt 10pt 5pt;

	text-align: left;

	min-height: 125px;
	max-height: 250px;

	width: 100%;
	word-wrap: break-word;
	box-sizing: border-box;

	border-radius: 0 0 2px 2px;

	box-shadow: 1px 2px 3px #BDBDBD;
}

.event-description p {
	padding-left: 10pt;
	padding-right: 10pt;
	padding-top: 5pt;
	font-size: 1em;
}

.event-description i,
.event-description span {
	vertical-align: middle;
}

.event-description span {
	font-weight: 400;
	font-size: 1.2em;
}

/* Desktop */
@media only screen and (min-width: 768px) {
	.event-description{
		max-width: 640px;
	}

	.event-description p {
		font-size: 1em;
	}

	.event-description span {
		font-size: 1.1em;
	}
}