.iconbutton {
	outline: none;
	border: none;

	padding: 10px 15px;

	cursor: pointer;
	color: #424242;
	background-color: #fff;
	border-radius: 4px;

	transition: background-color 0.2s;
}
.iconbutton.green {
	background-color: #689F38;
	color: #fff;
}

.iconbutton > i,
.iconbutton > span {
	vertical-align: middle;
}
.iconbutton > i {
	font-size: 2em;
	margin-right: 5px;
}
.iconbutton > span {
	font-size: 1.6em;
	font-weight: 600;
}

/* Desktop */
@media only screen and (min-width: 1024px) {
	.iconbutton > i {
		font-size: 2em;
	}
	.iconbutton > span {
		font-size: 1.6em;
	}

	.iconbutton:hover {
		color: #424242;
		background-color: #e0e0e0;
	}
	.iconbutton.green:hover {
		background-color: #9CCC65;
		color: #fff;
	}
}