.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* Colors */
.color-white {
  color: #fff;
}

.color-light-gray {
  color: #E0E0E0;
}

.color-gray {
  color: #757575;
}

.color-dark-gray {
  color: #242424;
}

.color-green {
  color: #4CAF50;
}

.color-dark-green {
  color: #1B5E20;
}

.color-dark-blue {
  color: #0D47A1;
}

.color-blue {
  color: #2196F3;
}

.flex {
  flex: 1;
}


/* Desktop */
@media only screen and (min-width: 1024px) {
  .App {
  }

  .only-on-mobile {
    display: none;
  }

}

@media only screen and (max-width: 1023px) {
  .dialog {
    height: 100vh;
    width: 100vw;
  }
}
