.splashscreen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.splashscreen > input, label {
    margin-top: 10px;
    margin-bottom: 10px;
}

.splashscreen-logo {
	margin-top: 30px;
	width: 80%;
	max-width: 400px;
}